/* Texto normal a partir de 1031px */
.navbar-nav .nav-link,
.navbar .btn {
  font-size: 1rem;
}

/* 980px a 1030px */
@media (min-width: 980px) and (max-width: 1030px) {
  .navbar-nav .nav-link,
  .navbar .btn {
    font-size: 0.9rem;
  }
}
nav {
  box-shadow: 0 2px 4px rgba(45, 87, 44, 0.2); /* Sombra verde suave abajo */
}








