<div id="footer" class="container-fluid text-white py-5 px-5">
  <div class="row gy-5">
    <!-- Columna 1 -->
    <div class="col-6 col-md-3">
      <h6 class="fw-bold">Cliente</h6>
      <ul class="list-unstyled">
        <li><a routerLink="atencion-al-cliente" class="text-white text-decoration-none">Atención al Cliente</a></li>
      </ul>
    </div>

    <!-- Columna 2 -->
    <div class="col-6 col-md-3">
      <h6 class="fw-bold">Trabajador</h6>
      <ul class="list-unstyled">
        <li><a routerLink="registro-vendedor" class="text-white text-decoration-none">Trabaja con nosotros</a></li>
      </ul>
    </div>



  </div>

  <hr class="border-light my-4" />

  <!-- Fila inferior -->
  <div class="row justify-content-between">
    <div class="col-md-6 text-center text-md-start small">
      © Mercatic S.A. Todos los derechos reservados.
    </div>
    <div class="col-md-6 text-center text-md-end small">
    </div>
  </div>
</div>
